{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The next project | About</title>
    <link rel="stylesheet" href="{% static 'next_project/CSS/style.css' %}">
    <script defer src="{% static 'next_project/JS/next.js' %}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'next_project/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'next_project/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'next_project/favicon.png' %}">
    <link rel="manifest" href="{% static 'next_project/favicon/site.webmanifest' %}">
 
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="{% url 'register' %}">Register</a>
        <a href="{% url 'admin:index' %}">admin</a>
    </nav>

    <main>
        <h1 class="color">The about page</h1>
    </main>
</body>

</html>