{% extends 'next_project/base.html' %}
{% load static %}

{% block title %}Detail | The Next Project{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-overlay">
        <h1 data-i18n="detail_title" class="color">The details page</h1>
        <p data-i18n="detail_content" class="color">This page tells you about our project.</p>
        <button id="switch-lang">English / Español</button>
    </div>
</section>
<div class="card">
    <!-- image container -->
    <div class="card-image-container">
        <a href="{% url 'detail' %}">
            <img src="{% static 'images/'|add:card.image_name %}" alt="{{ card.title }}" class="card-image">
        </a>
    </div>

    <!-- text -->
    <div class="card-text">
        <h2 class="card-title">{{ card.title }}</h2>
        <p class="card-content">{{ content }}</p>
        <div class="lang-switch">
            <a href="{% url 'detail' %}?lang=en">English</a>
            <a href="{% url 'detail' %}?lang=es">Español</a>
        </div>
    </div>
</div>

<!-- Pagination Controls -->
  <div class="pagination-container">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
          </li>
          {% endif %}
          <li class="page-item disabled">
            <span class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item">
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>




{% endblock %}