{% extends 'next_project/base.html' %}


{% block title %}Login | The Next Project{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-overlay">
        <h1 data-i18n="login_title" class="color">The login page</h1>
        <p data-i18n="login_content" class="color">This page lets you login.</p>
        <button id="switch-lang">English / Español</button>
    </div>
</section>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
<div class="form-map-container">

    <section id="form">
        <form id="contact-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <a>Please enter password</a>
            <button type="submit">Login</button>
        </form>
    </section>
</div>

{% endblock %}